/*цвета
основной текст - #212121
второстепенный текс - #757575
акцент - #2196F3
текст героя - #ffffff
 */

:root {
  --primary-text-color: #212121;
  --secondary-text-colort: #757575;
  --akcent-text-color: #2196f3;
  --background-color: #ffffff;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
}
/* Убирает точки у списков */
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header */
.header {
  background-color: var(--background-color);
  border-bottom: 1px solid #ececec;
}

/* style of logo */
.logo-header {
  margin-right: 93px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--akcent-text-color);
}

/* site navigation */
.container.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}
.site-nav > .item {
  margin-right: 50px;
}
.site-nav > .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--akcent-text-color);
}
.site-nav .link.current {
  color: var(--akcent-text-color);
}

/* buttons */
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* .buttons > .button + .button {
  margin-left: 8px;
} */
.buttons > .button:first-child {
  margin-left: 0;
}
.button {
  margin-left: 8px;
  color: var(--primary-text-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  color: var(--background-color);
  background-color: var(--akcent-text-color);
  cursor: pointer;
}

/* contacts */
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts .item + .item {
  margin-left: 50px;
}
.site-contacts a {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colort);
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.site-contacts a:hover,
.site-contacts a:focus {
  color: var(--akcent-text-color);
}

/* hero section */
.hero-section {
  text-align: center;
  background-color: #2f303a;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--background-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero-button {
  padding: 10px 32px;
  color: var(--background-color);
  background-color: var(--akcent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

/* strengths */
.strenghts-list {
  outline: 2px solid var(--akcent-text-color);
  display: flex;
  justify-content: space-between;
}
.strenghts-list > .strenghts-item {
  margin-right: 30px;
  outline: 2px solid red;
}
.strenghts-item:last-child {
  margin-right: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}
.strengths-title:last-child {
  margin-right: 0;
}
.strengths-title {
  margin-bottom: 10px;
  margin-right: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.strengths-text {
  color: var(--secondary-text-colort);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* services section */

.services-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.services-list {
  display: flex;
  justify-content: space-between;
}

/* section Team */
.team-cards {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}
.team-cards > .team-card {
  margin-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: #e5e5e5;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.member-photo {
  margin-bottom: 30px;
}
.name {
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.position {
  text-align: center;
  color: var(--secondary-text-colort);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.logo-footer {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-web {
  color: var(--akcent-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--akcent-text-color);
}
.address .link {
  color: var(--secondary-text-colort);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.link.specific-address {
  color: var(--background-color);
}

/* portfolio page */
.works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.works > .works-examples {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 -30px);

  border-bottom: 1px solid #eeeeee;
}
.works .link {
  text-decoration: none;
}
.works-imgs {
  margin-bottom: 20px;
}

.works .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.works .description {
  margin-bottom: 20px;
  color: var(--secondary-text-colort);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: 215px;
}
.section {
  padding: 94px 0;
}
